/* D3 Styling */
.legend {
    padding: 0px 0px;
    font: 10px sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.key path {
	display: none;
}

/* UI Styling */
#map {
    width: 95%;
    height: 500px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.slider {
    width: 200px;
    margin-left: 20px;
}

input.counter {
    border: 0;
    width: 40px;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.slider {
    font-size: smaller;
    width: 80%;
    display: inline-block;
}

#timestamp {
    width: 30%;
    margin-left: 10px;
    font-size: medium;
    text-align: center;
}

label, p,h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.space_below {
    margin-bottom: 20px;
}

#disease_select {
    width: 80%;
    display: inline-block;
}

.centerer {
    text-align: center;
}

#param_col {
    margin: 0;
    padding-top: 80px;
}

.cols {
    margin: 0px auto;
}

.col {
    float: left;
}

#main_cont {}

#main_cols {
    margin-top: 50px;
    padding-bottom: 20px;
}

.ui-state-active {
    background: #e9d1eb 50% 50% repeat-x
}
